@{
    ViewBag.Title = "About Us";
}
    
<h2 style="color:green">Supervisor</h2>
<h1 style="color:red">@ViewBag.M</h1>

<table>
    <tr>
        <th></th>
    </tr>
    <tr>
       <td><img src="/Content/Images/SAh.jpg" alt="Delete"/></td>
        <td>@Html.Partial("~/Views/Shared/_InfoView2.cshtml")</td>
    </tr>

    <tr>
        <th></th>
    </tr>
    
    </table>
<p></p>
<h1 style="color:blue">Some information about project members</h1>
<p></p>
<p></p>
<table>
    <tr>
        <th></th>
        <td></td>
        <th></th>
    </tr>
    <tr>
       <td><img src="/Content/Images/Tanjida 2010-1.jpg" alt="Delete"/></td>
        <td>@Html.Partial("~/Views/Shared/_InfoView.cshtml")</td>

         <td><img src="/Content/Images/ID-Page1.jpg" alt="Delete"/></td>
        <td>@Html.Partial("~/Views/Shared/_InfoView1.cshtml")</td>
    </tr>

    <tr>
        <th></th>
        <td></td>
        <th></th>
    </tr>
    
    </table>



@*<table>
    <tr>
       <td><img src="/Content/Images/ID-Page1.jpg" alt="Delete"/></td>
        <td>@Html.Partial("~/Views/Shared/_InfoView1.cshtml")</td>
    </tr>

    <tr>
        <th></th>
    </tr>
    </table>*@
<p></p>


     

