@model MvcApplication1.Models.TempRoutine

@{
    ViewBag.Title = "Create";
}
<h1 style="color:red">
    @ViewBag.message
</h1>

<h1 style="color:red">
    @ViewBag.ErrorMsg
</h1>

<h2>Create</h2>
<h1 style="color:red">@ViewBag.M</h1>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<!doctype html>
                <html lang="en">
                    <head>
                        <meta charset="utf-8">
                            <title>Date Picker</title>
                            <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
                            
                            <script src="//code.jquery.com/jquery-1.10.2.js"></script>
                            <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
                            <link rel="stylesheet" href="/resources/demos/style.css">
                            
                            <script>
                                $(function () {
                                    $("#datepicker").datepicker();
                                });
                            </script>
                    </head>
                    <body>
                        @*<p>Date: <input type="text" id="datepicker" name="aText" value="submit"></p>*@
                    </body>
                </html>



<script type="text/javascript">
    $(document).ready(function () {
        $("#TempRoutineDate").datepicker();
    });
</script>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>TempRoutine</legend>
        @if (Model != null)
        { 
            <div class="editor-label">
                @Html.LabelFor(model => model.Day)
            </div>
            
            <div class="editor-field">
                @Html.HiddenFor(model => model.Day)
               @Html.ValidationMessageFor(model =>model.Day)
            </div>
            
            <div class="editor-field">
                @Html.HiddenFor(model => model.UserName)
               @Html.ValidationMessageFor(model =>model.UserName)
            </div>
            
            <div class="editor-field">
                @Html.HiddenFor(model => model.RoutineTeacherId)
               @Html.ValidationMessageFor(model =>model.RoutineTeacherId)
            </div>
            
            <div class="editor-field">
                @Html.HiddenFor(model => model.RoutineDepartmentId)
               @Html.ValidationMessageFor(model =>model.RoutineDepartmentId)
            </div>
            
            <div class="editor-field">
                @Html.DisplayFor(model => model.Day)
            </div>
            <div class="editor-field">
                @Html.HiddenFor(model => model.RoutineClassroomId)
               @Html.ValidationMessageFor(model => model.RoutineClassroomId)
            </div>
            
            <div class="editor-field">
                @Html.HiddenFor(model => model.RoutineSemesterId)
               @Html.ValidationMessageFor(model => model.RoutineSemesterId)
            </div>
            <div class="editor-field">
                @Html.HiddenFor(model => model.Year)
               @Html.ValidationMessageFor(model => model.Year)
            </div>
            <div class="editor-field">
                @Html.HiddenFor(model => model.RoutineTypeId)
               @Html.ValidationMessageFor(model => model.RoutineTypeId)
            </div>
            <div class="editor-field">
                @Html.HiddenFor(model => model.Time_From)
               @Html.ValidationMessageFor(model => model.Time_From)
            </div>
                        <div class="editor-field">
                @Html.HiddenFor(model => model.Time_To)
               @Html.ValidationMessageFor(model => model.Time_To)
            </div>
            
            
            <div class="editor-label">
                @Html.LabelFor(model => model.RoutineClassroomId, "ClassRoom")
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => model.ClassRoom.RoomNo)
               @* @Html.EditorFor(model => model.ClassRoom.RoomNo)*@
                @*@Html.DropDownList("RoutineClassroomId", String.Empty)*@
                @Html.ValidationMessageFor(model => model.RoutineClassroomId)
            </div>
            
            @*@Html.HiddenFor(model => model.RoutineSemesterId)
                @Html.HiddenFor(model => model.RoutineTypeId)*@
            <div class="editor-label">
                @Html.LabelFor(model => model.Time_From)
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => model.Time_From.GetDateTimeFormats()[107])
                @Html.ValidationMessageFor(model => model.Time_From)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Time_To)
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => model.Time_To.GetDateTimeFormats()[107])
                @Html.ValidationMessageFor(model => model.Time_To)
            </div>
        }
        else
        {

            <div class="editor-label">
                @Html.LabelFor(model => model.RoutineSemesterId, "Semester")
            </div>
            <div class="editor-field">
                @Html.DropDownList("RoutineSemesterId", String.Empty)
                @Html.ValidationMessageFor(model => model.RoutineSemesterId)
            </div>
            
            <div class="editor-label">
                @Html.LabelFor(model => model.Year)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Year)
                @Html.ValidationMessageFor(model => model.Year)
            </div>
            
            <div class="editor-label">
                @Html.LabelFor(model => model.Day)
            </div>
            <div class="editor-field">
                @Html.DropDownList("DayName", String.Empty)
                @Html.ValidationMessageFor(model => model.Day)
            </div>
            
            <div class="editor-label">
                @Html.LabelFor(model => model.RoutineClassroomId, "ClassRoom")
            </div>
            <div class="editor-field">
                @Html.DropDownList("RoutineClassroomId", String.Empty)
                @Html.ValidationMessageFor(model => model.RoutineClassroomId)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Time_From)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Time_From)
                @Html.ValidationMessageFor(model => model.Time_From)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Time_To)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Time_To)
                @Html.ValidationMessageFor(model => model.Time_To)
            </div>
             <div class="editor-label">
                @Html.LabelFor(model => model.RoutineTypeId, "RoutineType")
            </div>
            <div class="editor-field">
                @Html.DropDownList("RoutineTypeId", String.Empty)
                @Html.ValidationMessageFor(model => model.RoutineTypeId)
            </div>
            
        }  
            <div class="editor-label">
                @Html.LabelFor(model => model.TempRoutineDate)
            </div>
            <div class="editor-field" >           
                @Html.EditorFor(model => model.TempRoutineDate, new { @id = "TempRoutineDate",String.Empty })
                @Html.ValidationMessageFor(model => model.TempRoutineDate)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Section)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Section)
                @Html.ValidationMessageFor(model => model.Section)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.RoutineCourseId, "Course")
            </div>
            <div class="editor-field">
                @Html.DropDownList("RoutineCourseId", String.Empty)
                @Html.ValidationMessageFor(model => model.RoutineCourseId)
            </div>
            @*<div class="editor-label">
                @Html.LabelFor(model => model.RoutineTeacherId, "Teacher")
            </div>
            <div class="editor-field">
               @Html.DropDownList("RoutineTeacherId", String.Empty)
               @Html.ValidationMessageFor(model => model.RoutineTeacherId)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.RoutineDepartmentId, "Department")
            </div>
            <div class="editor-field">
                @Html.DropDownList("RoutineDepartmentId", String.Empty)
                @Html.ValidationMessageFor(model => model.RoutineDepartmentId)
            </div>*@

           
        
            <p>
                <input type="submit" value="Create" />
            </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

       

        