<h2 >Delete A User from a Role</h2>


<h3 style="color: blue">@ViewBag.ResultMessage</h3>
<h1 style="color:red">@ViewBag.M</h1>
@using (Html.BeginForm("DeleteRoleForUser", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <p>
        Username : @Html.TextBox("UserName")
        Role Name: @Html.DropDownList("RoleName", ViewBag.Roles as SelectList)
        
    </p>
    
    <input type="submit" value="Delete this user from Role" />
}